.form-flex {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* color: black; */
  background: #000;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.form-title {
  font-size: 2rem;
  color: #d7d7d7;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.form-input-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 44px;
}
.form-label {
  font-size: 1.5rem;
  color: #d7d7d7;
}
.form-input {
  border: none;
  background: none;
  border-bottom: 1px solid #d7d7d7;
  padding: 8px;
  width: 400px;
  font-size: 1.25rem;
  color: #d7d7d7;
}
.form-input {
  font-size: 1.25rem;
  color: #b0b0b0;
}
